* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}


/* MAIN */

/* Quicktab */
.buttons {
    height: 100px;
    color: #fff;
}

.container-flex.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button {
    background-color: #232323;
    padding: 5px 10px;
    border-radius: 10px;
}

.second {
    margin-right: 20px;
    margin-left: 5px;
}

/* MAIN CONTENT */
.maincontent {
    width: 80%;
    margin: auto;
}

.container-flex.maincontent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
}

.box-image {
    width: 17%;
}

.box-image>img {
    width: 100%;
}

/* NAV */

.container-flex.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #212324;
    height: 100px;
}

.sinistra {
    color: #fff;
}

.mute {
    padding-left: 20px;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.icon {
    font-size: 40px;
    float: left;
}

.arrow {
    padding-left: 20px;
    font-size: 30px;
    float: left;
}

.text {
    font-size: 22px;
}

#stop-video {
    display: inline-block;
}